{% extends 'layout.jinja2.html' %}
{% from 'util.jinja2.html' import link_tag, js_tag %}

{% block title %}HDX Query{% endblock %}

{% block css %}
        {{ link_tag('main') }}
{% endblock %}

{% set base_url = 'http://data.hdx.rwlabs.org/dataset/' %}

{% block body %}
            <h3>Most recently updated datastores</h3>
                Searched: <a target="_blank" href="{{url}}">{{ url }}</a>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Dataset</th>
                        <th>Resource</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr style="display: none;">
                            <td><a href="{{ base_url ~ row.package_name}}">{{ row.package_title }}</span></td>
                            <td><span>{{ row.resource_name }}</span></td>
                            <td><span>{{ row.revision_timestamp }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}

{% block js %}
        {{ script_tag('hnfake') }}
        {{ script_tag('cookies') }}
        {{ script_tag('animation') }}
        {{ script_tag('firstuser') }}
        {{ script_tag('main') }}
{% endblock %}
