{% extends 'layout.jinja2.html' %}
{% from 'util.jinja2.html' import link_tag, js_tag %}

{% block title %}HDX Query{% endblock %}

{% block css %}
        {{ link_tag('main') }}
{% endblock %}

{% set base_dataset_url = 'http://data.hdx.rwlabs.org/dataset/' %}
{% set base_org_url = 'http://data.hdx.rwlabs.org/organization/' %}
{% block body %}
            <h3>10 most recently updated datasets</h3>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Updated</th>
                        <th>Organization</th>
                        <th>Dataset</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr style="display: none;">
                            <td><span>{{ row.metadata_modified }}</span></td>
                            <td><a href="{{ base_org_url ~ row.org_name}}" 
                            target="blank">{{ row.org_title }}</a></td>
                            <td><a href="{{ base_dataset_url ~ row.package_name}}" target="_blank">{{ row.package_title }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}

{% block js %}
        {{ script_tag('hnfake') }}
        {{ script_tag('cookies') }}
        {{ script_tag('animation') }}
        {{ script_tag('firstuser') }}
        {{ script_tag('main') }}
{% endblock %}
