{% from 'util.jinja2.html' import link_tag, script_tag %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        {{ link_tag('lib/bootstrap') }}
        {{ link_tag('lib/bootstrap-responsive') }}

        {% block css %}
        {% endblock %}

    </head>
    <body>

        <div class="container">
            <form class="form-inline" role="form" action="/datastores" method="POST">
                <div class="form-group">
                  <label class="sr-only" for="endpoint">Endpoint:</label>
                  <select class="form-control" name="endpoint">
                    <option>data.hdx.rwlabs.org</option>
                    <option>test-data.hdx.rwlabs.org</option>
                    <option>test2-data.hdx.rwlabs.org</option>
                  </select>
                </div>
                <p>
                <div class="form-group">
                <label class="sr-only" for="search_type">Search Type</label>
                <select class="form-control" name="search_type">
                    <option>Find Active Datastores</option>
                    <option>TODO: Lookup by ID</option>
                    <option>TODO: Find Deleted</option>
                  </select>
                </div>
                <div class="form-group">
                <label class="sr-only" for="q">Search Terms:</label>
                <input type="text" size="15" class="form-control" name="q" placeholder="enter keywords">
                </div>
                <div class="form-group">
                <label class="sr-only" for="rows">Limit:</label>
                <input type="text" size="5" class="form-control" name="rows" placeholder="enter limit">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>          

            {% block body %}
            {% endblock %}   

        {{ script_tag('lib/jquery') }}
        {{ script_tag('lib/bootstrap') }}
        <script>window.RAPID = {};</script>

        {% block js %}
        {% endblock %}

    </body>
</html>
